@font-face {
    font-family: "Montserrat-Medium";
    src: url("fonts/Montserrat-Medium.ttf");
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("fonts/Montserrat-Bold.ttf");
}
 @font-face {
    font-family: "Montserrat-Black";
    src: url("fonts/Montserrat-Black.ttf");
}
@font-face {
    font-family: "Montserrat-Semibold";
    src: url("fonts/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("fonts/Montserrat-Regular.ttf");
  }
@font-face {
    font-family: "Montserrat-Extrabold";
    src: url("fonts/Montserrat-Extrabold.ttf");
}


.product {
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
}

.product .above{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .above .image {
    width: 383px;
    display: flex;
    justify-content: center;
}

.product .above .product-info{
    background-color: #EBEBEB;
    border-radius: 23px;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
}

.product .above .product-info h2 {
    color: #4F4F4F;
    font-family: "Montserrat-Bold";
    font-size: 25px;
}

.product .above .product-info .quantity {
    display: flex;
}

.product .above .product-info .quantity h3{
    color: #4F4F4F;
    font-family: "Montserrat-Semibold";
    font-size: 15px;
    width: 50%;
}

.product .above .product-info .quantity p {
    color: #A5A5A5;
    font-family: "Montserrat-Semibold";
    font-size: 13px;
    text-align: right;
    width: 50%;
}

.product .below{
    background-color: #ffffff;
    border-radius: 23px;
    padding: 10px 30px 10px 30px;
    margin-top: 30px;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
    color: #4F4F4F;
    font-family: "Montserrat-regular";
}

.product-info .product-button{
    padding-left: 265px;
    padding-bottom: 20px;
}

.product-info .product-button:hover{
    content: url(png_materials/icon_add_hovered.png);
}

.message {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    margin-left: 50px;
    font-family: "Montserrat-regular";
    font-size: 15px;
  }

  
/* Customize the scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Customize the scrollbar track */
  ::-webkit-scrollbar-track {
    background: #c4ffce;
    border-radius: 10px;
  }
  
  /* Customize the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: #88d095;
    border-radius: 10px;
  }
  
  /* Customize the scrollbar thumb when hovered */
  ::-webkit-scrollbar-thumb:hover {
    background: #157a2c;
  }